
.page-header {
    text-align: center;
    background-color: #cc6600;
    color: white;
    padding: 20px;
    margin-top: 0px;
    opacity: .8;
}

#panel-heading, #submit-button {
    background-color: #cc6600;
    color: white;
    opacity: .8;
    
}

.input-group {
    width: 100%;
}

#train-destination,
#train-name,
#first-train-time,
#frequency {
    width: 100%;
}

.panel-default {
    opacity: .92;
}
/* 
#list {
    display: inline-block;
} */